<div class="row">
  <div class="large-6  columns">       
    <h1>Nuevo registro</h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
    
       <div class="field">
        <%= f.text_field :name, autofocus: true,class:"form-control", placeholder:"Nombre Completo" %>
      </div>
    
      <div class="field">
        <%= f.email_field :email ,class:"form-control", placeholder:"E-mail"%>
      </div>
    
      <div class="field">
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caracteres minimo.)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off",class:"form-control", placeholder:"Contraseña" %>
      </div>
    
      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off",class:"form-control", placeholder:"Repetir contraseña" %>
      </div>
    
      <div class="actions">
        <%= f.submit "Unirme",class:"button" %>
      </div>
    <% end %>
    
    <div class="top-space"><%= render "devise/shared/links" %></div>
    <hr>
  </div>
</div>