<%= form_for(@article, html:{id: "article_form"}) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, class:"form-control", placeholder:"Titulo del articulo"%>
  </div>
  
  <div class="field">
    <h2>Imagen</h2>
    <%= f.file_field :cover %>
  </div>
  
  <div class="field">
    <h2>Cuerpo del articulo</h2>
    <%= f.hidden_field :body, id:"body-textarea" %>
    <%= f.hidden_field :markup, id:"markup-textarea" %>
    <div style="height:350px" id="epiceditor"></div>
  </div>

  <div class="field">
    <h2>Categorias</h2>
    <% @categories.each do |category|%>
    <div class="field">
      <%= check_box_tag "categories[]", category.id %> <%= category.name %>
    </div>  
      
    <%end%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
  var editor = new EpicEditor({
    textarea: "markup-textarea",
    clientSideStorage: false,
    file:{
      name:"new_article"
    }
  });
  
  editor.load();
  
  $("#article_form").on("submit", function(){
    $("#body-textarea").val(editor.exportFile("new_article","html"));
    $("#markup-textarea").val(editor.exportFile("new_article"));
    
  });
  
  
</script>
