    <div class="row">
      <div class="large-12 medium-12 small-12 columns panel">
        <h1 class="name-category">
          <%= @article.title %>
        </h1>
        <section class="share-social">
          <a href="<%="http://www.facebook.com/sharer.php?u=".concat( root_url).concat('articles/').concat(@article.id.to_s)%>" class="button tiny facebook" target="_black"><i class="fi-social-facebook" style="font-size:1rem"> </i> Compartir Facebook</a>
        </section>
        <div class="field">
        	<% @article.categories.each do |category|%>
        		<%= link_to category.name, category %> |
        	<%end%>
        </div>
        <div class="field">
        	<p class="article-by green">Escrito por: <%= @article.user.name %>, | <%= @article.created_at.strftime("%Y-%m-%d")%></p>
        </div>
        
        
        	<%if @article.cover.exists? %>
          	<a class="th" href="<%=@article.cover.url() %>">
          	  <%=image_tag @article.cover.url(:medium) %>
          	</a>
        	<%end%>
        
        <p>
          <%= Sanitize.fragment(@article.body, Sanitize::Config::RELAXED).html_safe %>
        </p>
        <div class="option-article">
           <%if user_signed_in? && current_user.is_editor? %>
          <%= link_to 'Editar', edit_article_path(@article) %> |
          <%end%>
          <%if user_signed_in? && current_user.is_admin? %>
          <%= link_to 'Eliminar', @article, method: :delete, data: { confirm: 'Estas seguro?' } %> |
          <%end%>
          <%if user_signed_in? && @article.may_publish? %>
          <%= link_to 'Publicar', "#{@article.id}/publish", method: :put %>
          <%end%>
        </div>
        
        <%= render 'comments/form'%>
        <ul id="comments-box">
        	<% @article.comments.each do |comment|%>
        		<li>
        			<%= comment.body %> - <%= comment.user.email %>
        		</li>
        	<%end%>
        </ul>
          
  </div>
</div>        
        
