<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Simplifica tu negocio" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/foundation-icons/foundation-icons.css" />
    <link rel="stylesheet" href="/assets/slogan/css/animation.css" />
    
    
  </head>

  <body>
    <%= render 'partials/navigation'%>
    <div class="notice"><%=notice%></div>
    <div class="alert"><%=alert%></div>
    <%= yield %>  
    <%= render 'partials/footer'%>
  </body>
</html>
